* {
	box-sizing: border-box;
}
html {
	background: #333;
	color: #fff;
}

.debug {
	display: block;
	position: relative;
	padding: 8px;
	font-family: monospace;
	border: 1px solid orange;
}
.debug > h3 {
	position: absolute;
	right: 8px;
	margin-top: 0;
}